<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/unnamed"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMS"
        tools:targetApi="31">

        <!-- Your main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SMS Sent BroadcastReceiver -->
        <receiver android:name=".SmsSentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="SMS_SENT" />
            </intent-filter>
        </receiver>


        <!-- SMS Delivered BroadcastReceiver -->
        <receiver android:name=".SmsDeliveredReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="SMS_DELIVERED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
